.img{
    background-image: url(./wp2916229-lonely-wallpaper-hd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    padding-bottom: 100px;
}
.flex{
    
    font-size: 40px;
    text-align: right;
    justify-content: right;
    list-style: none;
}

div.h1{
    font-size: 30px;
    align-items: center;
    
}
.head{
    text-align: center;
    color: darkturquoise;
}
.para{
    font-size: 20px;
    text-align: center;
}
.content{
    font-size: 20px;
    text-align: center;
}


p{
    color: rgb(7, 7, 7);
}
.pad{
    padding-bottom: 200px;
}


/* .search{
    color: blue;

}
body{
    background-color: cornflowerblue;
     background-image:url(https://wallpapercave.com/wp/wp9116079.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.facebook{
    padding-left: 200px;
    padding-right: 200px;
}
.book{
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 0.5 grey;
    border: 1px solid rgb(39, 6, 6);
    border-radius: 10px;
    color: rgb(6, 147, 255);
    text-align: center;
    padding: 10px;
    
} */